CAMEL/CAMEL.Baking/Connected Services/MesService/EquipService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TestConnection">
        <s:complexType />
      </s:element>
      <s:element name="TestConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadMultiMachStateListInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Info" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadMultiMachStateListInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadMultiMachStateListInfoResult" type="tns:VMResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VMResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadBakingData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Info" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadBakingDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadBakingDataResult" type="tns:VMResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="VMResult" nillable="true" type="tns:VMResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="UploadMultiMachStateListInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UploadMultiMachStateListInfo" />
  </wsdl:message>
  <wsdl:message name="UploadMultiMachStateListInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UploadMultiMachStateListInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UploadBakingDataSoapIn">
    <wsdl:part name="parameters" element="tns:UploadBakingData" />
  </wsdl:message>
  <wsdl:message name="UploadBakingDataSoapOut">
    <wsdl:part name="parameters" element="tns:UploadBakingDataResponse" />
  </wsdl:message>
  <wsdl:message name="TestConnectionHttpGetIn" />
  <wsdl:message name="TestConnectionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UploadMultiMachStateListInfoHttpGetIn">
    <wsdl:part name="Info" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadMultiMachStateListInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:VMResult" />
  </wsdl:message>
  <wsdl:message name="UploadBakingDataHttpGetIn">
    <wsdl:part name="Info" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadBakingDataHttpGetOut">
    <wsdl:part name="Body" element="tns:VMResult" />
  </wsdl:message>
  <wsdl:message name="TestConnectionHttpPostIn" />
  <wsdl:message name="TestConnectionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UploadMultiMachStateListInfoHttpPostIn">
    <wsdl:part name="Info" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadMultiMachStateListInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:VMResult" />
  </wsdl:message>
  <wsdl:message name="UploadBakingDataHttpPostIn">
    <wsdl:part name="Info" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadBakingDataHttpPostOut">
    <wsdl:part name="Body" element="tns:VMResult" />
  </wsdl:message>
  <wsdl:portType name="EquipServiceSoap">
    <wsdl:operation name="TestConnection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用于测试服务连接状态！</wsdl:documentation>
      <wsdl:input message="tns:TestConnectionSoapIn" />
      <wsdl:output message="tns:TestConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadMultiMachStateListInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传设备状态，通用方法！（30s上传一次）</wsdl:documentation>
      <wsdl:input message="tns:UploadMultiMachStateListInfoSoapIn" />
      <wsdl:output message="tns:UploadMultiMachStateListInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadBakingData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">烘烤段数据上传接口！</wsdl:documentation>
      <wsdl:input message="tns:UploadBakingDataSoapIn" />
      <wsdl:output message="tns:UploadBakingDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EquipServiceHttpGet">
    <wsdl:operation name="TestConnection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用于测试服务连接状态！</wsdl:documentation>
      <wsdl:input message="tns:TestConnectionHttpGetIn" />
      <wsdl:output message="tns:TestConnectionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadMultiMachStateListInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传设备状态，通用方法！（30s上传一次）</wsdl:documentation>
      <wsdl:input message="tns:UploadMultiMachStateListInfoHttpGetIn" />
      <wsdl:output message="tns:UploadMultiMachStateListInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadBakingData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">烘烤段数据上传接口！</wsdl:documentation>
      <wsdl:input message="tns:UploadBakingDataHttpGetIn" />
      <wsdl:output message="tns:UploadBakingDataHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EquipServiceHttpPost">
    <wsdl:operation name="TestConnection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用于测试服务连接状态！</wsdl:documentation>
      <wsdl:input message="tns:TestConnectionHttpPostIn" />
      <wsdl:output message="tns:TestConnectionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadMultiMachStateListInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">上传设备状态，通用方法！（30s上传一次）</wsdl:documentation>
      <wsdl:input message="tns:UploadMultiMachStateListInfoHttpPostIn" />
      <wsdl:output message="tns:UploadMultiMachStateListInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadBakingData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">烘烤段数据上传接口！</wsdl:documentation>
      <wsdl:input message="tns:UploadBakingDataHttpPostIn" />
      <wsdl:output message="tns:UploadBakingDataHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EquipServiceSoap" type="tns:EquipServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMultiMachStateListInfo">
      <soap:operation soapAction="http://tempuri.org/UploadMultiMachStateListInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBakingData">
      <soap:operation soapAction="http://tempuri.org/UploadBakingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquipServiceSoap12" type="tns:EquipServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://tempuri.org/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMultiMachStateListInfo">
      <soap12:operation soapAction="http://tempuri.org/UploadMultiMachStateListInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBakingData">
      <soap12:operation soapAction="http://tempuri.org/UploadBakingData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquipServiceHttpGet" type="tns:EquipServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="TestConnection">
      <http:operation location="/TestConnection" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMultiMachStateListInfo">
      <http:operation location="/UploadMultiMachStateListInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBakingData">
      <http:operation location="/UploadBakingData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EquipServiceHttpPost" type="tns:EquipServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="TestConnection">
      <http:operation location="/TestConnection" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadMultiMachStateListInfo">
      <http:operation location="/UploadMultiMachStateListInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadBakingData">
      <http:operation location="/UploadBakingData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EquipService">
    <wsdl:port name="EquipServiceSoap" binding="tns:EquipServiceSoap">
      <soap:address location="http://192.168.100.11:8094/EquipService.asmx" />
    </wsdl:port>
    <wsdl:port name="EquipServiceSoap12" binding="tns:EquipServiceSoap12">
      <soap12:address location="http://192.168.100.11:8094/EquipService.asmx" />
    </wsdl:port>
    <wsdl:port name="EquipServiceHttpGet" binding="tns:EquipServiceHttpGet">
      <http:address location="http://192.168.100.11:8094/EquipService.asmx" />
    </wsdl:port>
    <wsdl:port name="EquipServiceHttpPost" binding="tns:EquipServiceHttpPost">
      <http:address location="http://192.168.100.11:8094/EquipService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>