BYD/BYD.Scan/Web References/MesService/autolineservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FetchParameter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="typeCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="midModel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchParameterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchParameterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MySoapHelper" type="tns:MySoapHelper" />
      <s:complexType name="MySoapHelper">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="FetchForeWeight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cellBarcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchForeWeightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchForeWeightResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PackAsbValidate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="moduleBarcodes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PackAsbValidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PackAsbValidateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBoltVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="modelId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBoltVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBoltVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBoltStandard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="modelId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBoltStandardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBoltStandardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PassStationCheck">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="barcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="flag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="terminal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PassStationCheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PassStationCheckResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FetchParameterSoapIn">
    <wsdl:part name="parameters" element="tns:FetchParameter" />
  </wsdl:message>
  <wsdl:message name="FetchParameterSoapOut">
    <wsdl:part name="parameters" element="tns:FetchParameterResponse" />
  </wsdl:message>
  <wsdl:message name="FetchParameterMySoapHelper">
    <wsdl:part name="MySoapHelper" element="tns:MySoapHelper" />
  </wsdl:message>
  <wsdl:message name="FetchForeWeightSoapIn">
    <wsdl:part name="parameters" element="tns:FetchForeWeight" />
  </wsdl:message>
  <wsdl:message name="FetchForeWeightSoapOut">
    <wsdl:part name="parameters" element="tns:FetchForeWeightResponse" />
  </wsdl:message>
  <wsdl:message name="FetchForeWeightMySoapHelper">
    <wsdl:part name="MySoapHelper" element="tns:MySoapHelper" />
  </wsdl:message>
  <wsdl:message name="PackAsbValidateSoapIn">
    <wsdl:part name="parameters" element="tns:PackAsbValidate" />
  </wsdl:message>
  <wsdl:message name="PackAsbValidateSoapOut">
    <wsdl:part name="parameters" element="tns:PackAsbValidateResponse" />
  </wsdl:message>
  <wsdl:message name="PackAsbValidateMySoapHelper">
    <wsdl:part name="MySoapHelper" element="tns:MySoapHelper" />
  </wsdl:message>
  <wsdl:message name="GetBoltVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetBoltVersion" />
  </wsdl:message>
  <wsdl:message name="GetBoltVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetBoltVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetBoltVersionMySoapHelper">
    <wsdl:part name="MySoapHelper" element="tns:MySoapHelper" />
  </wsdl:message>
  <wsdl:message name="GetBoltStandardSoapIn">
    <wsdl:part name="parameters" element="tns:GetBoltStandard" />
  </wsdl:message>
  <wsdl:message name="GetBoltStandardSoapOut">
    <wsdl:part name="parameters" element="tns:GetBoltStandardResponse" />
  </wsdl:message>
  <wsdl:message name="GetBoltStandardMySoapHelper">
    <wsdl:part name="MySoapHelper" element="tns:MySoapHelper" />
  </wsdl:message>
  <wsdl:message name="PassStationCheckSoapIn">
    <wsdl:part name="parameters" element="tns:PassStationCheck" />
  </wsdl:message>
  <wsdl:message name="PassStationCheckSoapOut">
    <wsdl:part name="parameters" element="tns:PassStationCheckResponse" />
  </wsdl:message>
  <wsdl:message name="PassStationCheckMySoapHelper">
    <wsdl:part name="MySoapHelper" element="tns:MySoapHelper" />
  </wsdl:message>
  <wsdl:portType name="AutoLineServiceSoap">
    <wsdl:operation name="FetchParameter">
      <wsdl:input message="tns:FetchParameterSoapIn" />
      <wsdl:output message="tns:FetchParameterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchForeWeight">
      <wsdl:input message="tns:FetchForeWeightSoapIn" />
      <wsdl:output message="tns:FetchForeWeightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PackAsbValidate">
      <wsdl:input message="tns:PackAsbValidateSoapIn" />
      <wsdl:output message="tns:PackAsbValidateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBoltVersion">
      <wsdl:input message="tns:GetBoltVersionSoapIn" />
      <wsdl:output message="tns:GetBoltVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBoltStandard">
      <wsdl:input message="tns:GetBoltStandardSoapIn" />
      <wsdl:output message="tns:GetBoltStandardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PassStationCheck">
      <wsdl:input message="tns:PassStationCheckSoapIn" />
      <wsdl:output message="tns:PassStationCheckSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutoLineServiceSoap" type="tns:AutoLineServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchParameter">
      <soap:operation soapAction="http://tempuri.org/FetchParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FetchParameterMySoapHelper" part="MySoapHelper" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchForeWeight">
      <soap:operation soapAction="http://tempuri.org/FetchForeWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FetchForeWeightMySoapHelper" part="MySoapHelper" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PackAsbValidate">
      <soap:operation soapAction="http://tempuri.org/PackAsbValidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PackAsbValidateMySoapHelper" part="MySoapHelper" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoltVersion">
      <soap:operation soapAction="http://tempuri.org/GetBoltVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetBoltVersionMySoapHelper" part="MySoapHelper" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoltStandard">
      <soap:operation soapAction="http://tempuri.org/GetBoltStandard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetBoltStandardMySoapHelper" part="MySoapHelper" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassStationCheck">
      <soap:operation soapAction="http://tempuri.org/PassStationCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PassStationCheckMySoapHelper" part="MySoapHelper" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutoLineServiceSoap12" type="tns:AutoLineServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchParameter">
      <soap12:operation soapAction="http://tempuri.org/FetchParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FetchParameterMySoapHelper" part="MySoapHelper" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchForeWeight">
      <soap12:operation soapAction="http://tempuri.org/FetchForeWeight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FetchForeWeightMySoapHelper" part="MySoapHelper" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PackAsbValidate">
      <soap12:operation soapAction="http://tempuri.org/PackAsbValidate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PackAsbValidateMySoapHelper" part="MySoapHelper" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoltVersion">
      <soap12:operation soapAction="http://tempuri.org/GetBoltVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetBoltVersionMySoapHelper" part="MySoapHelper" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoltStandard">
      <soap12:operation soapAction="http://tempuri.org/GetBoltStandard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetBoltStandardMySoapHelper" part="MySoapHelper" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassStationCheck">
      <soap12:operation soapAction="http://tempuri.org/PassStationCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PassStationCheckMySoapHelper" part="MySoapHelper" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutoLineService">
    <wsdl:port name="AutoLineServiceSoap" binding="tns:AutoLineServiceSoap">
      <soap:address location="http://10.9.46.194/meswebservice/autolineservice.asmx" />
    </wsdl:port>
    <wsdl:port name="AutoLineServiceSoap12" binding="tns:AutoLineServiceSoap12">
      <soap12:address location="http://10.9.46.194/meswebservice/autolineservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>