Tafel/Tafel.MES/Web References/TafelWebService/ServiceAPI2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.3.120:8033/ServiceAPI.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RunServerAPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="spc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="APIName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jsonData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunServerAPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunServerAPIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunServerAPI2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="spc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="APIName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jsonData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iftb" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunServerAPI2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunServerAPI2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSFC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSFCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckSFCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PassWprd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkOrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkOrderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkOrderInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmployeeInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBomInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBomInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBomInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrderDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSFC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSFCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSFCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeptInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SFC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessFrom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeptInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSeptInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProcessListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProcessListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStationListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserOCV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserOCVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserOCVResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserPinData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserPinDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserPinDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserTighten">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserTightenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserTightenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_UserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_Material">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_MaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_MaterialResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_SFC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check_SFCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Check_SFCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_MachineNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_MachineNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_MachineNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ProcessInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_ProcessInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_ProcessInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_StationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_StationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_StationInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrayInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrayInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTrayInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Inject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SFC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InjectResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStepData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SFC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProcessCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStepDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStepDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MachineNoCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMachineStateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTrayInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTrayInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTrayInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>