Soundon/Soundon.Mes.Test/Web References/ExecutingWebReference/ExecutingServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://base.ws.sapdev.com/" targetNamespace="http://base.ws.sapdev.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://base.ws.sapdev.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Exception" type="tns:Exception" />
      <xs:element name="execute" type="tns:execute" />
      <xs:element name="executeResponse" type="tns:executeResponse" />
      <xs:element name="executingServiceRequest" type="tns:executingServiceRequest" />
      <xs:element name="executingServiceResponse" type="tns:executingServiceResponse" />
      <xs:complexType name="execute">
        <xs:sequence>
          <xs:element minOccurs="0" name="pRequest" type="tns:executingServiceRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="executingServiceRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="site" type="xs:string" />
          <xs:element minOccurs="0" name="data" type="xs:string" />
          <xs:element minOccurs="0" name="serviceCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="executeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:executingServiceResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="executingServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="returnList" type="xs:string" />
          <xs:element minOccurs="0" name="invList" type="xs:string" />
          <xs:element minOccurs="0" name="qtyList" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="suppressed" type="tns:throwable" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="throwable">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stackTraceElement" final="extension restriction">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="executeIn">
    <wsdl:part name="parameters" element="tns:execute" />
  </wsdl:message>
  <wsdl:message name="executeOut">
    <wsdl:part name="executeResponse" element="tns:executeResponse" />
  </wsdl:message>
  <wsdl:message name="executeFault">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:portType name="ExecutingService">
    <wsdl:operation name="execute" parameterOrder="parameters">
      <wsdl:input message="tns:executeIn" />
      <wsdl:output message="tns:executeOut" />
      <wsdl:fault name="Exception" message="tns:executeFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ExecutingServiceBinding" type="tns:ExecutingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="execute">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExecutingServiceService">
    <wsdl:port name="ExecutingServicePort" binding="tns:ExecutingServiceBinding">
      <address location="http://MEAPVIP.soundnewenergy.net:50000/sapdevwebservice/ExecutingServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>