Soundon/Soundon.Dispatcher/Connected Services/MesWebService/MachineAccessTestServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://accesstest.uppermachine.ws.sapdev.com/" targetNamespace="http://accesstest.uppermachine.ws.sapdev.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://accesstest.uppermachine.ws.sapdev.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getResourceDescription" type="tns:getResourceDescription" />
      <xs:element name="getResourceDescriptionResponse" type="tns:getResourceDescriptionResponse" />
      <xs:element name="machineAccessTestRequest" type="tns:machineAccessTestRequest" />
      <xs:element name="machineAccessTestResponse" type="tns:machineAccessTestResponse" />
      <xs:complexType name="getResourceDescription">
        <xs:sequence>
          <xs:element minOccurs="0" name="pRequest" type="tns:machineAccessTestRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="machineAccessTestRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="site" type="xs:string" />
          <xs:element minOccurs="0" name="resource" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getResourceDescriptionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:machineAccessTestResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="machineAccessTestResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getResourceDescriptionIn">
    <wsdl:part name="parameters" element="tns:getResourceDescription" />
  </wsdl:message>
  <wsdl:message name="getResourceDescriptionOut">
    <wsdl:part name="getResourceDescriptionResponse" element="tns:getResourceDescriptionResponse" />
  </wsdl:message>
  <wsdl:portType name="MachineAccessTestService">
    <wsdl:operation name="getResourceDescription" parameterOrder="parameters">
      <wsdl:input message="tns:getResourceDescriptionIn" />
      <wsdl:output message="tns:getResourceDescriptionOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MachineAccessTestServiceBinding" type="tns:MachineAccessTestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getResourceDescription">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MachineAccessTestServiceService">
    <wsdl:port name="MachineAccessTestServicePort" binding="tns:MachineAccessTestServiceBinding">
      <address location="http://SAPMEAP:51000/sapdevwebservice/MachineAccessTestServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>